gdown>=5.1
gensim>=4.3
geopandas>=1.0
jupyterlab>=4.0
matplotlib>=3.8
networkx>=3.4
node2vec>=0.5
numpy>=1.26
pandas>=2.2
python-bidi>=0.6
python-louvain>=0.16
requests>=2.31
scikit-learn>=1.4
scipy>=1.12
seaborn>=0.13
